/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: auto;
  min-height: 100%;
  overflow-y: auto !important;
  /* Force the vertical scrollbar to be allowed */
  background-color: #0a0a0a;
  margin: 0;
}